node_modules/**/*
#Config speedometer
!node_modules\react-native-speedometer\dist\react-native-speedometer.cjs.js
.expo/*
npm-debug.*
*.jks
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/